# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

#
# Ignore path for Linguist.
#

exampleSite/**    linguist-vendored
resources/_gen/** linguist-generated

#
# Setting up Linguist
#

.ecrc             linguist-language=JSON
.editorconfig     linguist-language=INI
.eslintrc.yml     linguist-detectable=true
*.asc             linguist-language=Public Key
*.md              linguist-detectable=true linguist-documentation=false
*.webmanifest     linguist-language=JSON
*.yaml            linguist-detectable=true

CHANGELOG.md      linguist-detectable=false linguist-documentation=true
CONTRIBUTING.md   linguist-detectable=false linguist-documentation=true
README.md         linguist-detectable=false linguist-documentation=true
SECURITY.md       linguist-detectable=false linguist-documentation=true

/layouts/index.json        linguist-language=HTML
/layouts/_default/list.*.* linguist-language=HTML
/layouts/_default/home.*.* linguist-language=HTML

#
# Text files.
# Set files to be explicitly interpreted as text,
# plus any specific settings
#

CHANGELOG.md     text eol=lf
CONTRIBUTING.md  text eol=lf
LICENSE          text eol=lf
README.md        text eol=lf
SECURITY.md      text eol=lf

#
# Configuration and some text files.
#

.ecrc           text eol=lf diff=json
.editorconfig   text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
.gitmodules     text eol=lf
*.webmanifest   text eol=lf diff=json
netlify.toml    text eol=lf

#
# Exclude files from exporting
# (used by the "download ZIP archive" option, for example).
#

.ecrc           export-ignore
.editorconfig   export-ignore
.eslintrc       export-ignore
.eslintrc.yml   export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
.gitmodules     export-ignore
/.github        export-ignore
netlify.toml    export-ignore
netlify-pr.go   export-ignore
