@import "_mixins";

.masthead-title small {
  font-size: .78rem;
}

#page-contact,
#page-thanks,
.introduction {
  min-height: 40px;
  margin-bottom: 40px;

  @include mq(tabletp) {
    min-height: 60px;
    margin-bottom: 60px;
  }

  @include mq(tabletl) {
    min-height: 80px;
    margin-bottom: 80px;
  }

  @include mq(laptop) {
    min-height: 100px;
    margin-bottom: 100px;
  }
}

#page-contact .container,
#page-thanks .container,
.introduction .container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.blog-post {
  margin-top: 40px;

  @include mq(tabletp) {
    margin-top: 60px;
  }

  @include mq(tabletl) {
    margin-top: 80px;
  }

  @include mq(laptop) {
    margin-top: 100px;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

#main article {
  min-height: 100px;
}

.post-meta {
  margin-top: 5px;
  font-size: .85rem;
  color: $text-light-color;
}

.post .byline {
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: -.5rem;
}

.footnotes hr {
  margin: 0;
  border: 0;
}

.footnotes blockquote + a.footnote-backref {
  margin-bottom: 1rem;
  display: inline-block;
}
