/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave `colorScheme` in `params.yaml` file empty for granular control
*/
$text-light-color: #676767;
$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

// - - - - - - - - - - Global styles
@import "ed";
@import "syntax";
@import "form-elements";
@import "customize";
@import "themes";
