{{ define "main" }}

{{/* This template is for list of all publications in a Section */}}
<div class="articles">
    {{ with .Title }}<h1 class="page-title">{{ . }}</h1>{{ end }}

    {{/* Render category content if any */}}
    {{ with .Content }}
        <div class="section-content">
            {{ .Content }}
        </div>
    {{ end }}

    {{/* Render posts list */}}
    <div class="post-list">
        {{ range .Paginator.Pages }}
            {{ .Render "teaser" }}
        {{ end }}

        {{ partial "pagination.html" . }}
    </div>
</div>

{{ end }}
