{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <h1 class="text-title">
            {{ .Params.pageTitle | default .Title }}
        </h1>
        <p class="byline">
            {{ if in (slice "drama" "narrative" "poem") $postType }}
                {{ $showAuthor := .Site.Params.showAuthor | default false }}
                {{ $author := partial "head/author.html" . }}
                {{ if (and $showAuthor (ne $author ""))}}
                    <span class="author">{{ i18n "by" . }}</span>
                {{ end }}
            {{ else }}
                {{ partial "post-meta/date.html" . }}
            {{ end }}
        </p>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>

    {{/* Post tags are not allowed for drama, narratives and poems */}}
    {{ if not (in (slice "drama" "narrative" "poem") $postType) }}
        {{ partial "post-tags.html" . }}
    {{ end }}

    {{ partial "comments.html" . }}
</article>
{{ end }}
