{{/* Define a section to pull recent posts from.
    This will default to the section with the most number of pages. */}}
{{ $mainSections := site.Params.mainSections | default (slice "posts") }}

{{/* Create a variable with that section to use in multiple places. */}}
{{ $section := where site.RegularPages.ByDate.Reverse "Section" "in" $mainSections }}

{{/* Check to see if the section is defined for ranging through it */}}
{{ $sectionCount := len $section }}

{{ if ge $sectionCount 1 }}
    {{ $maxPosts := site.Params.recentPostsSize | default 5 }}

    <div class="toc" role="navigation">
        <h2>{{ i18n "latest_publications" }}</h2>
        <ul class="texts">
            {{/* Range through the first $maxPosts items of the $section */}}
            {{ range (first $maxPosts $section) }}
                <li class="text-title">
                    {{ partial "post-toc-summary" . }}
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
