{{- $vendors := slice -}}

{{- $vendorNames := slice "jquery.min" "lunr.min" -}}
{{- range $vendorNames -}}
    {{ $vendors = $vendors | append (resources.Get (printf "js/vendor/%s.js" .) ) }}
{{- end -}}

{{- $vendors := $vendors | resources.Concat "js/vendor-bundle.js" | minify -}}

{{- if not site.Params.assets.disable_fingerprinting -}}
    {{- $vendors = $vendors | fingerprint -}}
    <script src="{{ $vendors.RelPermalink }}" integrity="{{ $vendors.Data.Integrity }}"></script>
{{- else -}}
    <script src="{{ $vendors.RelPermalink }}"></script>
{{- end -}}

{{- $search := resources.Get "js/search.js" | minify -}}
{{- if not site.Params.assets.disable_fingerprinting -}}
    {{- $search = $search | fingerprint -}}
    <script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
{{- else -}}
    <script src="{{ $search.RelPermalink }}"></script>
{{- end -}}

{{- with site.GoogleAnalytics -}}
    {{- $ga := resources.Get "js/ga.js" | minify -}}
    {{- if not site.Params.assets.disable_fingerprinting -}}
        {{- $ga = $ga | fingerprint -}}
        <script src="{{ $ga.RelPermalink }}" integrity="{{ $ga.Data.Integrity }}"></script>
    {{- else -}}
        <script src="{{ $ga.RelPermalink }}"></script>
    {{- end -}}
{{- end -}}
