    <!-- Dublin Core metadata for Zotero -->
    <meta property="dc:title" content="{{ .Title }}">
    <meta property="dc:identifier" content="{{ .Permalink }}">
    <meta property="dc:creator" content="{{ ( partial "author.html" . ) }}">
{{- with .Params.editor }}
    <meta property="dc:contributor" content="{{ . }}">
{{- end }}
{{- with .Params.rights }}
    <meta property="dc:rights" content="{{ . }}">
{{- end }}
    <meta property="dc:source" content="{{ if .Params.source }}{{ .Params.source }}{{ else }}{{ site.Title }}{{ end }}">
{{- with .Params.date }}
    {{ printf "<meta property=\"dc:date\" content=\"%s\">" (.UTC.Format "2006-01-02T15:04:05-07:00") | safeHTML }}
{{- end }}
