    <!-- Open Graph metadata -->
    <meta property="og:title" content="{{ partial "title.html" . }}">
    <meta property="og:description" content="{{ (partial "description.html" . ) }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">

{{- $logo := resources.Get (site.Params.assets.logo | default "/img/open-graph-logo.png" ) -}}
{{- $image := .Resources.GetMatch .Params.featured_image -}}

{{- if and .IsPage $image }}
    <meta property="og:image" content="{{ $image.Permalink }}">
    <meta property="og:image:width" content="{{ $image.Width }}">
    <meta property="og:image:height" content="{{ $image.Height }}">
{{- else }}
    <meta property="og:image" content="{{ $logo.Permalink }}">
    <meta property="og:image:width" content="{{ $logo.Width }}">
    <meta property="og:image:height" content="{{ $logo.Height }}">
{{- end -}}

{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with site.Social.facebook_admin }}
    <meta property="fb:admins" content="{{ . }}">
{{- end }}
{{- with site.Social.facebook_id }}
    <meta property="fb:app_id" content="{{ . }}">
{{- end }}
