    <!-- Twitter Card metadata -->
    <meta name="twitter:title" content="{{- partial "title.html" . -}}">
    <meta name="twitter:description" content="{{ (partial "description.html" . ) }}">

    {{- /* Twitter username for the website used in the card footer */}}
    {{- with site.Params.social.twitter }}
    <meta name="twitter:site" content="@{{ . }}">
    {{- end }}

    {{- if and .IsPage .Params.featuredImage }}
    {{- $image := .Resources.GetMatch .Params.featuredImage }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $image.Permalink }}">
    {{- else -}}
    {{- $logo := resources.Get (site.Params.assets.logo | default "/img/open-graph-logo.png" ) }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $logo.Permalink }}">
    {{- end -}}
